<table>
    <tr>
        <td width="111" height="111">
            <a href="http://itfrogs.ru/feedback/#shop/plugins/generator" target="_blank">
                <img src="{$wa_url}wa-apps/shop/plugins/generator/img/feedback.gif" width="123" height="123" border="0" title="[`QR code`]">
            </a>
        </td>
        <td>
            <a href="http://itfrogs.ru/feedback/#shop/plugins/generator" target="_blank">[`Technical support`]</a>
        </td>
    </tr>
</table>