
<!-- categories begin -->

{if !empty($categories)}

    {$depth = -1}
    {foreach $categories as $category}
      {if $category.depth < $depth}
        {section name="end-category" loop = $depth - $category.depth}
                </li>
            </ul>
        {/section}
        {$depth = $category.depth}
      {/if}

      {if $category.depth == $depth}
          </li>
          <li class="{if $category.type == shopCategoryModel::TYPE_DYNAMIC}dynamic{/if}" id="category-{$category.id}" data-type="category">
      {/if}

      {if $category.depth > $depth}
          <ul class="menu-v with-icons">
              <li class="{if $category.type == shopCategoryModel::TYPE_DYNAMIC}dynamic{/if}" id="category-{$category.id}" data-type="category">
              {$depth = $category.depth}
      {/if}
        <a href="javascript:void(0);" onclick="$.importexport.plugins.generator.select(this, {$category.id})" class="s-product-list{if !$category.status} gray{/if}">{strip}
            <i class="icon16 {if $category.type == shopCategoryModel::TYPE_DYNAMIC}funnel{else}folder{/if}"></i><span class="name">{$category.name|escape}</span>
            <span class="hint routes"> {if !empty($category.routes)}{implode(' ', $category.routes)}{/if}</span>
            <strong class="small highlighted count-new"></strong>
        {/strip}</a>
    {/foreach}

    {section name="end-category" loop = $depth + 1}
          </li>
        </ul>
    {/section}
{/if}

<!-- categories end -->
